.redbutton {
  background-color: red;
  color: white;
  border: 5px;
  border-color: pink;
  font-size: larger;
  text-align: center;
  align-items: center;
}

.whitebutton {
  background-color: white;
  color: black;
  border-color: black;
  border: 2px;
  font-size: larger;
  text-align: center;
  align-items: center;
}

.center {
  text-align: center;
  align-items: center;
}

.size{
  width: 500;
  height: 300;
}